@import url(../variables.css);

.content__button--arrow{
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    pointer-events: none;
}

.content__arrow{
    width: 5%;
    max-width: 100px;
    height: 5%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--background-color-three);
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: unset;
}

.content__arrow .bi{
    font-size: 18px;
    color: var(--background-color-second);
}